<div class="container">
  <h2>About Me</h2>
  <div ng-if="myInfoCtrl.signedUp">
    <div class="row">
      <div class="col-md-6">
        <p>First name: {{ myInfoCtrl.firstname }}</p>
        <p>Last name: {{ myInfoCtrl.lastname }}</p>
        <p>E-mail address: {{ myInfoCtrl.email }}</p>
        <p>Phone number: {{ myInfoCtrl.phone }}</p>
      </div>
      <div class="col-md-6">
        <h3>Favorite dish</h3>
        <div ng-if="myInfoCtrl.favoriteMenuItem">
          <img ng-src="images/menu/{{ myInfoCtrl.favoriteMenuItem.category_short_name }}/{{ myInfoCtrl.favoriteMenuItem.category_short_name }}.jpg" class="pull-right">
          <h4>{{ myInfoCtrl.favoriteMenuItem.name }} [{{ myInfoCtrl.favoriteDish }}]</h4>
          <p>{{ myInfoCtrl.favoriteMenuItem.description }}</p>
        </div>
        <div ng-show="!myInfoCtrl.favoriteMenuItem">
          <p>Yos choice was not found, sorry. Try set it in SignUp again.</p>
        </div>
      </div>
    </div>
  </div>

  <div ng-if="!myInfoCtrl.signedUp">
    <p>You must sign up</p>
  </div>
</div>
