<style>
  .ng-touched.ng-invalid {
    background-color:  pink;
  }
  .ng-touched.ng-valid {
    background-color: lightgreen;
  }
</style>
<div class="container">
  <h2>Sign up</h2>

  <form action="#" name="signupForm" novalidate>
    <div class="row">
      <div class="col-md-6">
        <p>Name and E-mail address are mandatory.</p>

        <p>
          <label for="firstname">First name:</label>
          <input type="text" name="firstname" id="firstname"
            ng-model="signupCtrl.firstname"
            class="form-control"
            required>
          <span ng-if="signupForm.firstName.$error.required && signupForm.firstName.$touched"
            style="color: white; background-color: red">
            First name is required
          </span>
        </p>

        <p>
          <label for="lastname">Last name:</label>
          <input type="text" name="lastname" id="lastname"
            ng-model="signupCtrl.lastname"
            class="form-control"
            required>
          <span ng-if="signupForm.lastname.$error.required && signupForm.lastname.$touched"
            style="color: white; background-color: red">
            Last name is required
          </span>
        </p>

        <p>
          <label for="email">E-mail:</label>
          <input type="email" name="email" id="email"
            ng-model="signupCtrl.email"
            class="form-control"
            required>
          <span ng-if="(signupForm.email.$invalid || signupForm.email.$error.required) && signupForm.email.$touched"
            style="color: white; background-color: red">
            E-mail address is invalid
          </span>
        </p>

        <p>
          <label for="phone">Phone number:</label>
          <input type="phone" name="phone" id="phone" placeholder="###-###-####"
            ng-model="signupCtrl.phone"
            pattern="(\d{3})-(\d{3})-(\d{4})"
            class="form-control">
          <span ng-if="signupForm.phone.$invalid && signupForm.phone.$touched"
            style="color: white; background-color: red">
            Phone is invalid, format: 999-999-9999
          </span>
        </p>

        <p>
          <label for="favoriteDish">Favorite dish:</label>
          <input type="text" name="favoriteDish" id="favoriteDish"
            placeholder="Enter short name of favorite dish"
            ng-model="signupCtrl.favoriteDish"
            minlength="2"
            ng-maxlength="4"
            class="form-control">
          <span ng-if="(signupForm.favoriteDish.$error.minlength || signupForm.favoriteDish.$error.minlength) && signupForm.favoriteDish.$touched"
            style="color: white; background-color: red">
            Short name of dish is 1-2 letters and 1-2 numbers
          </span>
          <span ng-if="signupCtrl.registrationSuccess && !signupCtrl.favoriteDishFound"
            style="color:white; background-color: red">
            No such menu number exists!
          </span>
        </p>

        <p>
          <button class="btn btn-primary pull-right"
            ng-disabled="signupForm.$invalid"
            ng-click="signupCtrl.signUp($event)">
            Sign up
          </button>
        </p>
      </div>

      <div class="col-md-6">
        <div class="panel panel-success" ng-if="signupCtrl.registrationSuccess">
          <div class="panel-heading">Success!!</div>
          <div class="panel-body" style="color: green">
            <p>Sign up succeded!</p>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
