<div class="container">
  <h2>Sign Up</h2>
  <p>Enter with asked informations</p>

  <form name='regForm' novalidate>
    <div class="row">
      <div class="col-lg-4">
				<div class="form-group">
					<label for="firstname">First name <span class="text-danger">*</span></label>
          <input type="text" name="firstname" placeholder="First name" id="firstname"
            ng-model="signupCtrl.user.firstname"
            required
            class="form-control input-lg">
          <span
            ng-if="regForm.firstname.$error.required && regForm.firstname.$touched">
            First name is required
          </span>
				</div>
			</div>
    </div>

    <div class="row">
      <div class="col-lg-4">
				<div class="form-group">
					<label for="lastname">Last name <span class="text-danger">*</span></label>
          <input type="text" name="lastname" placeholder="Last name" id="lastname"
            ng-model="signupCtrl.user.lastname"
            required
            class="form-control input-lg">
          <span
            ng-if="regForm.lastname.$error.required && regForm.lastname.$touched">
            Last name is required
          </span>
				</div>
			</div>
    </div>

    <div class="row">
      <div class="col-lg-4">
				<div class="form-group">
					<label for="email">Email <span class="text-danger">*</span></label>
          <input type="email" name="email" placeholder="Email" id="email"
            ng-model="signupCtrl.user.email"
            required
            class="form-control input-lg">
          <span ng-if="regForm.email.$invalid && regForm.email.$touched">
            Must be a valid email address: handle@domain format
          </span>
        </div>
      </div/>
    </div>

    <div class="row">
      <div class="col-lg-4">
				<div class="form-group">
					<label for="address">Adress <span class="text-danger">*</span></label>
          <input type="text" name="address" placeholder="Address" id="address"
            ng-model="signupCtrl.user.address"
            required
            class="form-control input-lg">
          <span
            ng-if="regForm.address.$error.required && regForm.address.$touched">
            Last name is required
          </span>
				</div>
			</div>
    </div>

    <div class="row">
      <div class="col-lg-4">
				<div class="form-group">
					<label for="phone">Phone number <span class="text-danger">*</span></label>
          <input type="text" name="phone" placeholder="Phone ###-###-####" id="phone"
            ng-model="signupCtrl.user.phone"
            pattern="(\d{3})-(\d{3})-(\d{4})"
            class="form-control input-lg">
            <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
              Phone must be in the format ###-###-####.
            </span>
				</div>
			</div>
    </div>

    <div class="row">
      <div class="col-lg-4">
				<div class="form-group">
					<label for="menunumber">Last name <span class="text-danger">*</span></label>
          <input type="text" name="menunumber" placeholder="Menu number" id="menunumber"
            ng-model="signupCtrl.user.menu_number"
            class="form-control input-lg">
				</div>
			</div>
    </div>

    <div class="row">
      <button
        ng-disabled="regForm.$invalid"
        ng-click="signupCtrl.authenticate()"
        class="btn btn-primary">Authenticate
      </button>
    </div>
  </form>
</div>
